/* Media Queries */

/* <--Laptop--> */

/* //Laptop 4K// */

@media screen and (min-width: 1920px) {
    h1 {font-size: 2em}
    h2 {font-size: 1.7em;}
    h3 {font-size: 1.6em;}
    p {font-size: 1.5em;}
    .marker {font-size: 1.55em;}
    .blue {font-size: 0.85vw ;}
    .grey {font-size: 0.85vw ;}
    .wrapper {padding: 0px 60px;}
    .logo img { width: 150px;}
    nav {margin-right: 0px;}
    nav a {font-size: 1.5em; padding: 56.5px 50px 50px 20px;}
    .barre_recherche {margin-top: 30px;}
    .map_marker {min-width: 70px; min-height: 70px; border-radius: 20px 0px 0px 20px;}
    .input {font-size: 1.4em; font-weight: 800;}
    .close-btn {font-size: 1.4em; font-weight: 700; border-radius: 0px 20px 20px 0px;}
    .filter_container {; padding-left: 40px;}
    .fas_filter {font-size: 1.1vw;}
    .info_icon {font-size: 1.1vw;}
    .info p {line-height: 2.6}
    article {margin-top:30px;}
    article h2 {padding-top: 1.1vw;}
    #aside_1 {border-radius: 30px;}
    .container_hebergements {padding-top: 30px;}
    .figure_hebergements {border-radius: 30px;}
    .image_hebergements {border-top-left-radius: 25px; border-top-right-radius: 25px; height: 8vw;}
    .caption_hebergements {line-height: 1.6;}
    #aside_2 {border-radius: 30px;}
    #container_populaires {padding-top: 30px;}
    .chart_icon {margin-top: 5px; font-size: 1vw;}
    .figure_populaires {border-radius: 30px;}
    .image_populaires { border-top-left-radius: 25px; border-bottom-left-radius: 25px; padding-right: 10px;}
    .caption_populaires {padding-left: 5px; line-height: 1;}
    .container_activites figure {border-radius: 30px;}
    .container_activites img {border-top-left-radius: 30px; border-top-right-radius: 30px;}
    .figcaption_activities {padding-left: 40px;}
    footer li > a {font-size: 1vw; font-weight:500;}
    .assistance {padding-left: 10px; margin-right: 500px;}
}
/* //Laptop L//*/
@media screen and (max-width:1919px) and (min-width: 1441px) {
    
    h1 {font-size: 1.6em}
    h2 {font-size: 1.44em;}
    h3 {font-size: 1.2em;}
    p {font-size: 1.1em;}
    .marker {font-size: 1.2em;}
    .blue {font-size: 0.85vw ;}
    .grey {font-size: 0.85vw ;}
    .wrapper {padding: 0px 60px;}
    .logo img {width: 130px;}
    nav {margin-right: 0px;}
    nav a {font-size: 1.2em; padding: 67px 30px 50px 20px;}
    .barre_recherche {margin-top: 30px;}
    .input {font-size: 1.2em; font-weight: 800;}
    .close-btn {font-size: 1.2em; font-weight: 700;}
    article h2 {padding-top: 13px;}
    .filter_container {padding-left: 40px;}
    .filter_button i { width: 3.5vmax; height: 3.5vmax;}
    .filter_button p {font-weight: 600;}
    .fas_filter {font-size: 1.3vw;}
    .info_icon {font-size: 1.3vw;}
    .info p {line-height: 2.3}
    article {margin-top:30px;}
    #aside_1 {border-radius: 20px;}
    .container_hebergements {padding-top: 30px;}
    .figure_hebergements {border-radius: 20px;}
    .image_hebergements {border-top-left-radius: 15px; border-top-right-radius: 15px; height: 8vw;}
    .caption_hebergements {line-height: 1.2;}
    .caption_hebergements h3 {font-size: 1em;}
    .caption_hebergements p {font-size: 1em;}
    #aside_2 {border-radius: 20px;}
    #container_populaires {padding-top: 30px;}
    .chart_icon {margin-top: 5px; font-size: 1vw;}
    .figure_populaires {border-radius: 20px;}
    .image_populaires { border-top-left-radius: 15px; border-bottom-left-radius: 15px; padding-right: 10px;}
    .caption_populaires {padding-left: 5px; line-height: 1;}
    .caption_populaires h3 {font-size: 1em;}
    .caption_populaires p {font-size: 1em;}
    .figcaption_activities {padding-left: 40px;}
    .figcaption_activities p {font-size: 1em;}
    footer li > a {font-size: 1.2vw; font-weight:500;}
    .assistance {padding-left: 10px; margin-right: 350px;}
}
    /*//Laptop M// */

@media screen and (max-width: 1439px) and (min-width: 1224px) {

    /* General style elements */
    
    .marker {font-size: 1.1em;}
    .blue {font-size: 0.9vw ;}
    .grey {font-size: 0.9vw ;}
    .figure_hebergements {height: 13.2vw;}
    .figure_hebergements p {font-size: 1.1vw;}
}   

/* //Laptop S// */

@media screen and (max-width: 1223px) and (min-width: 1024px) {
    h1 {font-size: 1.9vw;}
    h2 {font-size: 1.8vw;}
    h3 {font-size: 1.3vw;}
    p {font-size: 1.3vw;}
    .marker {font-size: 1.1em;}
    .blue {font-size: 0.85vw ;}
    .grey {font-size: 0.85vw ;}
    nav {margin-right: 0px;}
    nav a {font-size: 1em;}
    .input {font-size: 1.6vw;}
    .close-btn {font-size: 1.6vw;}
    article h2 {padding-top: 1.7vw;}
    .filter_button {border-radius: 5vw;}
    .filter_button i { width: 4vmax; height: 4vmax;}
    .filter_button p {font-size: 1.5vw ;}
    .info p { line-height: 2.1;}
    .figure_hebergements {height: 13.5vw;}
    .figure_hebergements p {font-size: 1.2vw;}
    .caption_hebergements {line-height: 1.2}
    .image_populaires {padding-right: 5px;}
    .caption_populaires {padding-top: 0.2vw;}
    .caption_populaires p {font-size: 1.2vw;}
    .figcaption_activities {padding-left: 1vw;}
    .apropos h3, .nos_hebergements h3, .assistance h3 {font-size: 1.4vw;}
    footer li > a {font-size: 1.4vw;}
    .assistance {margin-right: 250px;}
}

/* <--Tablet:--> */

/* //Tablet L// */

@media screen and (max-width: 1023px) and (min-width: 868px) {
    h1 {font-size: 2vmax;}
    h2 {font-size: 1.8vmax;}
    h3 {font-size: 1.3vmax;}
    p {font-size:0.85em;}
    .marker {font-size: 1.75vmax;}
    .blue {font-size: 1.4vw ;}
    .grey {font-size: 1.4vw ;}
    .wrapper {padding: 0px 30px;}
    .logo {margin-bottom: 0px;}
    nav {margin-right: 5px;}
    nav a {font-size: 1.7vw; padding: 60px 15px 50px 15px}
    .section_recherche {padding-top: 0px;}
    .input {font-size: 1.75vw;}
    .close-btn {font-size: 1.75vw;}
    article {margin-bottom: 30px;}
    article h2 {padding-top: 1.3vw;}
    .filter_button i { width: 4.7vmax; height: 4.7vmax;}
    .filter_button p { font-weight: 600; font-size: 1.8vw; padding: 0vmax 1.7vmax;}
    .info p {line-height: 2.3;}
    #section_hebergements {flex-flow: column-reverse; align-items: center}
    #aside_2 {padding: 40px 20px 30px 20px; width: 100%;}
    .chart_icon {margin-top: 0px; font-size: 1.65vw;}
    #container_populaires {display: flex; flex-direction: row; justify-content: space-around}
    .figure_populaires { display: block; width: 26vw; height: 19vw;}
    .image_populaires {border-radius: 10px 10px 0px 0px;width: 100%;height: 12vw;}
    .image_populaires {padding-right: 0px; margin-bottom: 2px;}
    .caption_populaires {padding-top: 0.2vw;}
    .caption_populaires h3 {font-size:1.44vw;}
    .caption_populaires p {font-size: 1.4vw;}
    .etoiles_populaires {bottom: initial;}
    #etoiles_populaires {bottom: initial;}
    #aside_1 {margin: 20px 0px; width: 100%}
    .figure_hebergements {width: 26vw; height: 19vw;}
    .figure_hebergements h3 {font-size: 1.44vw;}
    .figure_hebergements p {font-size: 1.4vw;}
    .image_hebergements {height: 12vw;}
    .caption_hebergements h3 {line-height:1.1vw;}
    .figcaption_activities {padding-left: 10px;}
    .apropos h3, .nos_hebergements h3, .assistance h3 {font-size: 1.5vw;}
    footer li > a {font-size: 1.35vw;}
    .assistance {margin-right: 160px;}
}

/* //Tablet M// */

@media screen and (max-width: 867px) and (min-width: 768px) {
    h1 {font-size: 1.1em;}
    h2 {font-size: 1em;}
    h3 {font-size: 0.9em;}
    p {font-size: 0.85em;}
    .marker {font-size: 1em;}
    .blue {font-size: 1.2vw ;}
    .grey {font-size: 1.2vw ;}
    .wrapper {padding: 0px 20px;}
    .logo {margin-bottom: 0px;}
    nav {margin-right: 5px;}
    nav a {font-size: 1.7vw; padding: 63px 15px 50px 15px;}
    .section_recherche {padding-top: 0px;}
    article {margin-bottom: 10px;}
    .input {font-size: 0.9em;}
    .close-btn {font-size: 0.9em;}
    article h2 {padding-top: 2.2vw;}
    .filter_container {padding-left: 15px;}
    .filter_container a {margin-right: 1.5vw;}
    .filter_button {border-radius: 5vw;}
    .filter_button i { width: 5vmax; height: 5vmax;}
    .fas_filter {font-size: 2vw;}
    .filter_button p {font-weight: 600; font-size: 1.8vw; padding: 0vmax 1.2vmax;}
    #section_hebergements {flex-flow: column-reverse; align-items: center}
    #aside_2 {padding: 40px 10px 30px 10px; width: 100%;}
    .chart_icon {margin-top: 0px; font-size: 1.65vw;}
    #container_populaires {display: flex; flex-direction: row; justify-content: space-around}
    .figure_populaires { display: block; width: 29vw; height: 19vw;}
    .figure_populaires h3 {font-size:0.7em;}
    .image_populaires {border-radius: 10px 10px 0px 0px;width: 100%;height: 12vw;}
    .image_populaires {padding-right: 0px; margin-bottom: 2px;}
    .caption_populaires {padding: 0px 0px 2px 10px;}
    .caption_populaires p {font-size: 0.7em;}
    #aside_1 {margin: 20px 0px; width: 100%; padding: 40px 15px}
    .container_hebergements {margin-bottom: 0px; justify-content: space-between; }
    .figure_hebergements {width: 29vw; height: 19vw;}
    .figure_hebergements p {font-size: 0.7em; line-height: 0.8;}
    .image_hebergements {height: 12vw;}
    .caption_hebergements {line-height: 1.2;}
    .caption_hebergements h3 {font-size: 0.7em;}
    .container_activites p {font-size:1.3vw; line-height: 0.8;}
    .figcaption_activities {padding-left: 10px;}
    .apropos h3, .nos_hebergements h3, .assistance h3 {font-size: 1.5vw;}
    footer li > a {font-size: 1.5vw;}
    .assistance {padding-left: 20px; margin-right: 140px;}
}

/* <--Tablet:--> */

/* //Tablet S// */

@media screen and (max-width: 767px) and (min-width: 600px) {
    h1 {font-size: 1em;}
    h2 {font-size: 0.9em;}
    h3 {font-size: 0.8em;}
    p {font-size: 0.8em;}
    .marker {font-size: 1em;}
    .blue {font-size: 1.3vw ;}
    .grey {font-size: 1.3vw ;}
    .wrapper {padding: 0px 20px;}
    .logo {margin-bottom: 0px;}
    nav {margin-right: 5px;}
    nav a {font-size: 0.8em; padding: 64px 15px 50px 15px}
    .section_recherche {padding-top: 0px;}
    article {margin-bottom: 10px;}
    .input {font-size: 0.9em;}
    .close-btn {font-size: 0.9em;}
    article h2 {padding-top: 2vw;}
    .filter_container {flex-flow: wrap;}
    .filter_container a {margin-bottom: 2vw;}
    .filter_button {border-radius: 10vw;}
    .filter_button i { width: 2.5em; height: 2.5em;}
    .filter_button p {font-weight: 600; font-size: 0.8em; padding: 1vmax 2vmax 0.9vmax 2vmax;}
    .info p {line-height: 2.6;}
    #section_hebergements {flex-direction: column-reverse;}
    #aside_2 {padding: 20px 10px; width: 100%;}
    #aside_2 h2 {padding-left: 20px;}
    .chart_icon {margin-top: 5px; font-size: 2vw;}
    #container_populaires {flex-flow: wrap; justify-content: space-around;}
    .figure_populaires {display: block; width: 28vw; height: 20.5vw; padding: 0.25em;}
    .image_populaires {object-position: 50% 60%; border-radius: 10px 10px 0px 0px; width: 100%;height: 12vw;}
    .image_populaires {padding-right: 0px; margin-bottom: 2px;}
    .caption_populaires {padding-left: 2px}
    .caption_populaires h3 {font-size: 1.5vw;}
    .caption_populaires p {font-size: 1.6vw; font-weight: 500;}
    .etoiles_populaires {bottom: initial}
    #etoiles_populaires {bottom: initial}
    #aside_1 {width: 100%; padding: 20px 10px; margin-top: 20px;}
    .container_hebergements { margin-bottom: 0px;}
    .figure_hebergements {width: 37vw; height: 20.5vw; padding: 0.25em;}
    .caption_hebergements {line-height: 1;}
    .caption_hebergements h3 {font-size: 1.8vw;}
    .caption_hebergements p {font-size: 1.8vw; font-weight: 500}
    .image_hebergements {height: 12vw;}
    .container_activites {flex-flow: wrap; margin:30px; height: 110vw;}
    .boxactivites_1 {width: 37vw ; height: 50vw;}
    .figure_activities_a {height: 50vw;}
    .boxactivites_2 {width: 37vw ; height: 50vw;}
    .figure_activities_b {height: 25vw;} 
    .figure_activities_c {height: 20vw;}
    .boxactivites_3 {width: 37vw ; height: 50vw;}
    .boxactivites_4 {width: 37vw ; height: 50vw;}
    .figure_activities_d {height:22vw}
    .figure_activities_a, .figure_activities_b, .figure_activities_c, .figure_activities_d {width: fit-content;} 
    .figcaption_activities {padding-left: 15px; padding-top: 10px;}
    .figcaption_activities p {font-size: 1.8vw;}
    .image_activites_a {height: 88%; padding-bottom: 0px;}
    .image_activites_b {height: 76%; padding-bottom:0px;}
    .image_activites_c {height: 69%; padding-bottom:0px;}
    .image_activites_d {height: 73%; padding-bottom:0px;}
    .apropos h3, .nos_hebergements h3, .assistance h3 {font-size: 2vw;}
    footer li > a {font-size: 1.8vw;}
    .assistance {padding-left: 20px; margin-right: 20px;}
}

/* <--Mobile--> */

/* //Mobile XL// */

@media screen and (max-width: 599px) and (min-width: 425px) {
    .wrapper{display: flex; flex-direction: column; padding:0px}
    h1 {font-size: 1.4em; letter-spacing: 0.5px;}
    h2 {font-size: 1.25em;}
    h3 {font-size: 1.07em;}
    p {font-size: 1em; line-height: 2.2;}
    .fas {font-weight: 500 ;}
    .blue{font-size: 0.8em; color: #0065FC;}
    .grey {font-size: 0.8em; color: #d9d9d9;}
    .fas_filter {font-size: 14pt;}
    .marker {font-size: 14pt;}
    .loupe {font-size: 12pt;}
    header {display: flex; flex-wrap:wrap; }
    .logo {left: 15px; top: 15px; position: absolute; padding: 0px; margin-top: 0px; margin-bottom: 0px;}
    nav {display: flex; flex-wrap: wrap-reverse; justify-content: flex-end; margin-top: 15px; margin-right: 0px; border-radius: 0; background-color:rgba(255,255,255, 0);}
    nav a {padding: 15px 50px; font-size: 1.2em;}
    #active {flex-grow: 2;border-top: solid #ffffff; border-bottom: solid #0065fc; background-color:#ffffff;}
    #active:hover {background: #deebff; color: #0065fc; border-top: solid  #ffffff; border-bottom: solid #0065fc;}
    #non_active {flex-grow: 10; border-top: solid #ffffff; border-bottom: solid #ffffff;}
    #non_active:hover{background: #deebff; color: #0065fc; border-top: solid  #ffffff; border-bottom: solid  #0065fc;}
    #always_active {border-top: solid #ffffff; border-bottom: solid #ffffff; background-color: #ffffff;}
    #always_active:hover{background: #deebff; color: #0065fc; border-top: solid  #ffffff; border-bottom: solid  #0065fc;}
    main {padding: 0px; flex-direction: column; width: 100%; margin: 0;}
    .section_recherche {margin-top: 0px; padding: 30px 20px 0px 20px}
    .input {width: 250px;}
    .close-btn {display:none;}
    article {display: flex; flex-direction: column;}
    .filter_container {display: flex;flex-wrap: wrap; padding: 0; margin-top: 10px;} 
    .filter_button { margin-right: 0vw; border-width: 2px; border-radius: 15vw; margin: 5px}
    .icon_back {background-color: #deebff; width: 3.4rem; height: 3.4rem; border-radius: 50%;}
    .icon_back i { width: 3.4rem; height: 3.4rem; display: flex; justify-content: center; align-items: center; }
    .filter_button p {padding: 1.5vw 4vw 1.5vw 4vw;}
    .info_icon {height: 30px; margin-right: 4px;}
    .info p {font-size: 1em;}
    #section_hebergements { display: flex; flex-direction: column-reverse;}
    #aside_2 { width: 100%; border-radius: 0px; padding: 10px}
    #aside_2 h2 {font-size: 15pt;}
    #container_populaires { display: flex; align-items: center; flex-wrap: wrap; padding: 5px;}
    #container_populaires a {flex-basis : 80%;}
    .figure_populaires {flex-basis : 80%; width: 80vw; height: 160px;}
    .image_populaires {width: 155px; height:auto;}
    .caption_populaires {padding:5px}
    .etoiles_populaires {padding-bottom: 5px;}
    #etoiles_populaires {padding-top: 45px; bottom: initial;}
    #aside_1 { background-color: #ffffff; border-radius: 0px; width: 100%; padding-top: 30px; padding-bottom: 20px;}
    #aside_1 h2 {font-size: 15pt;padding-left: 5px; padding-bottom: 15px;}.container_hebergements {display: flex;flex-direction: column; align-items: center;}
    .figure_hebergements {width: 80vw; height: 200px;}
    .caption_hebergements {padding: 5px; line-height: 0.8;}
    .image_hebergements {height: 110px; object-position: 50% 60%;}
    #plusderesultats {padding-left: 5px;}
    #section_activites {display: flex; flex-direction: column;height: auto;padding-top: 0px;}
    #section_activites h2 {font-size: 15pt; margin-bottom: 20px;padding-left: 15px;}
    .container_activites {flex-direction: column; align-items: center;height: 100%;margin: 0;margin-bottom: 25px;}
    .boxactivites_1 {width: 80vw; height: 200px; margin-bottom: 19px;}
    .figure_activities_a {width: 80vw; height: 200px; margin-bottom: 20px;}
    .image_activites_a {width: 80vw; height: 150px;}
    .boxactivites_2 {width: 80vw; height: 420px;}
    .figure_activities_b {width: 80vw; height: 190px; margin-bottom: 20px;}
    .image_activites_b {width: 80vw; height: 140px;}
    .boxactivites_3 {width: 80vw;height: 200px; margin-bottom: 19px;}
    .figure_activities_c { width: 80vw; height: 190px; margin-bottom: 20px;}
    .image_activites_c {width: 80vw; height: 140px;}
    .boxactivites_4 {width: 80vw; height: 420px;}
    .image_activites_d {width: 80vw; height: 140px;}
    .figure_activities_d {width: 80vw; height: 190px; margin-bottom: 20px;}
    footer {display: flex; flex-direction: column; padding-bottom: 10px; padding-left: 30px;}
    .assistance {padding-left: 0px; margin-right: 0px;}
}   

/* //Mobile L (Iphone X)//*/

@media screen and (max-width: 424px) and (min-width: 375px) {
    .wrapper{display: flex; flex-direction: column; padding:0px}
    h1 {font-size: 5.5vw; letter-spacing: 0.5px;}
    h2 {font-size: 4.5vw;}
    h3 {font-size: 4vw;}
    p {font-size: 4.2vw; line-height: 2.2;}
    .fas {font-weight: 500 ;}
    .blue{font-size: 3vw; color: #0065FC;}
    .grey {font-size: 3vw; color: #d9d9d9;}
    .fas_filter {font-size: 14pt;}
    .marker {font-size: 14pt;}
    .loupe {font-size: 12pt;}


    header {display: flex; flex-wrap:wrap; }
    .logo {left: 15px; top: 15px; position: absolute; padding: 0px; margin-top: 0px; margin-bottom: 0px;}
    nav {display: flex; flex-wrap: wrap-reverse; justify-content: flex-end; margin-top: 15px; margin-right: 0px; border-radius: 0; background-color:rgba(255,255,255, 0);}
    nav a {padding: 15px 25px; font-size: 1.1em;}

    #active {flex-grow: 2;border-top: solid #ffffff; border-bottom: solid #0065fc; background-color:#ffffff;}
    #active:hover {background: #deebff; color: #0065fc; border-top: solid  #ffffff; border-bottom: solid #0065fc;}
    #non_active {flex-grow: 10; border-top: solid #ffffff; border-bottom: solid #ffffff;}
    #non_active:hover{background: #deebff; color: #0065fc; border-top: solid  #ffffff; border-bottom: solid  #0065fc;}
    #always_active {border-top: solid #ffffff; border-bottom: solid #ffffff; background-color: #ffffff;}
    #always_active:hover{background: #deebff; color: #0065fc; border-top: solid  #ffffff; border-bottom: solid  #0065fc;}
    
    
    
    
    main {padding: 0px; flex-direction: column; width: 100%; margin: 0;}
    .section_recherche {margin-top: 0px; padding: 30px 20px 0px 20px}
    .input {width: 250px;}
    .close-btn {display:none;}
    article {display: flex; flex-direction: column;}
    .filter_container {display: flex;flex-wrap: wrap; padding: 0; margin-top: 10px;} 
    .filter_button { margin-right: 0vw; border-width: 2px; border-radius: 15vw; margin: 5px}
    .icon_back {background-color: #deebff; width: 12.5vw; height: 12.5vw; border-radius: 50%;}
    .icon_back i { width: 12.5vw; height: 12.5vw; display: flex; justify-content: center; align-items: center; }
    .filter_button p {padding: 1.5vw 4vw 1.5vw 4vw;}
    .info_icon {height: 30px; margin-right: 4px;}
    .info p { font-size: 1em;}


    
    #section_hebergements { display: flex; flex-direction: column-reverse;}
    #aside_2 { width: 100%; border-radius: 0px; padding: 10px}
    #aside_2 h2 {font-size: 15pt;}
    #container_populaires { display: flex; align-items: center; flex-wrap: wrap; padding: 5px;}
    #container_populaires a {flex-basis : 80%;}
    .figure_populaires {flex-basis : 80%; width: 345px; height: 160px;}
    .image_populaires {width: 155px; height:auto;}
    .caption_populaires {padding:5px}
    .etoiles_populaires {padding-top: 45px; bottom: initial;}
    #etoiles_populaires {padding-top: 45px; bottom: initial;}
    #aside_1 { background-color: #ffffff; border-radius: 0px; width: 100%; padding-top: 30px; padding-bottom: 20px;}
    #aside_1 h2 {font-size: 15pt;padding-left: 5px; padding-bottom: 15px;}
    .container_hebergements {display: flex;flex-direction: column; align-items: center;}
    .figure_hebergements {width: 345px; height: 200px;}
    .caption_hebergements {padding: 5px; line-height: 0.8;}
    .image_hebergements {height:110px}
    #plusderesultats {padding-left: 5px;}


    #section_activites {display: flex; flex-direction: column;height: auto;padding-top: 0px;}
    #section_activites h2 {font-size: 15pt; margin-bottom: 20px;padding-left: 15px;}
    .container_activites {flex-direction: column; align-items: center;height: 100%;margin: 0;margin-bottom: 25px;}
    .boxactivites_1 {width: 355px; height: 200px; margin-bottom: 19px;}
    .figure_activities_a {width: 355px; height: 200px; margin-bottom: 20px;}
    .image_activites_a {width: 355px; height: 150px;}
    .boxactivites_2 {width: 355px; height: 420px;}
    .figure_activities_b {width: 355px; height: 190px; margin-bottom: 20px;}
    .image_activites_b {width: 355px; height: 140px;}
    .boxactivites_3 {width: 355px;height: 200px; margin-bottom: 19px;}
    .figure_activities_c { width: 355px; height: 190px; margin-bottom: 20px;}
    .image_activites_c {width: 355px; height: 140px;}
    .boxactivites_4 {width: 355px; height: 420px;}
    .image_activites_d {width: 355px; height: 140px;}
    .figure_activities_d {width: 355px; height: 190px; margin-bottom: 20px;}


    footer {display: flex; flex-direction: column; padding-bottom: 10px; padding-left: 30px;}
    .assistance {padding-left: 0px; margin-right: 0px;}
}

/* --Search button-- */

@media only screen and (min-width:599px) {
    #searchbutton {background-color: transparent; color: transparent;}
}