/* Media Queries */

/* --Search button-- */

@media only screen and (min-width:426px) {
    #btn_search_icon {background-color: transparent; color: transparent;}
}

@media only screen and (min-width:426px) {
    #btn_search {display: block;}
}

/* <--Mobile--> */

/* //Mobile S// */

@media screen and (max-width: 424px) and (min-width: 375px) {

}


/* <--Tablet:--> */

@media screen and (min-width: 426px) and (max-width: 1440px) {

nav { 
    flex-direction: row-reverse;
    justify-content: start;
    flex-wrap: nowrap;
}

#btn_section_nav {
    justify-content: flex-end;
}

#btn_accommodations {
    flex: 0;
    border-bottom: solid #ffffff;
    border-top: solid #0065fc;
}

#btn_activities {
    flex: 0;
    border-bottom: #ffffff;
}

#btn_section_nav p {
    padding: 44px 15px 15px 15px;
}

















/* <--Laptop--> */

/* //Laptop 4K// */

@media screen and (min-width: 1920px) {

}
/* //Laptop L//*/
@media screen and (max-width:1919px) and (min-width: 1441px) {
    
}
    /*//Laptop M// */

@media screen and (max-width: 1439px) and (min-width: 1224px) {
   
}   

/* //Laptop S// */

@media screen and (max-width: 1223px) and (min-width: 1024px) {

}


