/* Nav */


.logo {
    margin-top: 0px;
    margin-bottom: 0px;
    left: 22px; 
    top: 26px; 
    position: absolute; 
    padding: 0px; 

}

nav {
    margin-top: 15px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    color: #000000;
}

/* --Nav Buttons Style & Fx-- */

nav p {
    font-size: 0.9em;
    letter-spacing: -0.02em;
}


/* btn S'Inscrire */

#btn_subscribe {
    align-self: flex-end;
    color: #0065fc;
    padding: 29px 20px 14px 15px;
    border-bottom: solid #ffffff;
}

#btn_subscribe:hover {
    border-bottom: solid #0065fc;
    color: #000000; 
}

#btn_subscribe p {
    font-size: 0.93em;
    font-weight: 700;
}


#btn_section_nav  {
    flex: 100%;
    display: flex;
    font-weight: 700;
}

#btn_section_nav p {
    padding: 16px 0px 12px 0px;
}

/* btn Hébergements */

#btn_accommodations {
    flex: 2;
    color:#0065fc;
    border-top: solid  #ffffff;
    border-bottom: solid #0065fc;
}

#btn_accommodations:hover {
    background: #deebff;
    color: #0065fc;
    font-weight: 500;
    border-top: solid  #ffffff;
    border-bottom: solid #0065fc; 
}

/* btn activités */

#btn_activities {
    flex: 2;
    border-top: solid  #ffffff;
    border-top: solid #ffffff; 
    border-bottom: solid #f2f2f2;
}

#btn_activities:hover {
    background: #deebff;
    color: #0065fc;
    font-weight: 500;
    border-top: solid  #ffffff;
    border-bottom: solid #0065fc;
}


