/* Section activities */

#section_activites {
    padding-top: 20px;
    display: block;
    display: flex; flex-direction:column;
    height: auto;
    padding-top: 0px;
}

#section_activites h2 {
    font-size: 1.35em; 
    padding: 40px 0px 28px 22px;
}

.container_activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.container_activites figure:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.boxactivites_1 {
    display: flex;
    width: 370px;
    height: 190px;
    margin-bottom: 25px;
}

.boxactivites_2 {
    display: flex;
    flex-direction: column;
    width: 370px; 
    margin-bottom: 25px;
}

.boxactivites_3 {
    display: flex;
    padding: 0;
    width: 370px;
    height: 190px;
    margin-bottom: 25px;
}

.boxactivites_4 {
    display: flex;
    flex-direction: column;
    width: 370px;
}

.container_activites figure {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 20px 4px rgb(230, 230, 230);
}

.figure_activities_a {
    width: 370px;
    height: 190px;
}

.image_activites_a {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 370px; 
    height: 135px;
    object-fit: cover;
}

.figure_activities_b {
    width: 370px; 
    height: 190px; 
    margin-bottom: 25px;
}

.image_activites_b {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 370px; 
    height: 135px;
    object-fit: cover;
}

.figure_activities_c {
    width: 370px; 
    height: 190px;
}

.image_activites_c {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 370px; 
    height: 135px;
    object-fit: cover;
}

.figure_activities_d {
    width: 370px; 
    height: 190px;
    margin-bottom: 25px;
}

.image_activites_d {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 370px; 
    height: 135px;
    object-fit: cover;
}

.figcaption_activities p {
    font-size: 0.98em;
    font-weight: 800;
    letter-spacing: -1;
    padding: 15px 0px 25px 20px;
}

.figcaption_activities p:hover{
    color: #0065FC;
}