/* Search section */
article {
    display: flex;
    flex-direction: column;
}

article h1, p {
    letter-spacing: -0.01em;
}

.accomodation_intro{
    padding-right: 30px;
    line-height: 3em;
}

.section_recherche {
    margin-top: 0px;
    padding: 32px 22px 0px 22px;
}

/* Search Bar */

.barre_recherche {
    display: flex;
    margin-top: 22px;
    margin-bottom: 20px;
}

.map_marker {
    min-width: 52px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    background: #f2f2f2;
}

.marker {
    font-size: 1.1em;
}

.input {
    padding-inline-start: 15px;
    max-width: 325px;
    flex-grow: 3;
    font-weight: 700;
    font-size: 1.1em;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    border-radius: 0px 15px 15px 0px;
}

::placeholder { 
    color: black;
    opacity: 1;
  }


#btn_search_icon {
    width: 50px;
    height: 50px;
    background-color: #0065fc;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: initial;
    color: white;
    border-radius: 15px;
    border: none;
    position: absolute;
    right: 22px;
    cursor: pointer;
}

.fa-search {
    font-size: 1.04em;
}

#btn_search_icon:hover {
    color:#000000;
}

.close-btn {
    display: none;
    padding: 10px;
    font-weight: 600;
    font-size: 1.3em;
    padding: 10px 15px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    color: #ffffff;
    background: #0065fc;
    cursor: pointer;
}

.close-btn:hover {
    color:#000000;
}


/* Filter Section */

#filter_section h2 {
    padding-top: 12px;
    font-size: 1.14em;
    letter-spacing: -0.03em;
    font-weight: 700;
}

.filter_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin: 10px 0px;
}

.filter_button {
    display: flex;
    align-items: center;
    border-top: solid #d9d9d9 2px;
    border-bottom: solid #d9d9d9 2px;
    border-right: solid #d9d9d9 2px;
    border-radius: 50px; 
    margin: 6px 1px;
}

.filter_button:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.icon_back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #deebff;
    width: 51px;
    height: 51px;
    border-radius: 50px;
}

.filter_button i {
    font-size: 1.25em;
    color: #0065fc;
}

.filter_button p {
    font-size: 1.01em;
    padding: 14px 16px 14px 63px;
    font-weight: 700;
    color: #000000;
}

.filter_button p:hover {
    color: #0065FC;
}

/* --Partie info-- */

.info {
    padding: 10px 22px 40px 22px;
    
}

.info_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 10px;
    border: solid #d8d8d8 1.5px;
    border-radius: 30px;
    height: 24px;
    width: 24px; 
    color: #0065fc;
}

.fa-info {
    font-size: 0.75em;
}


.info p {
    padding-top: 3px;
    line-height: 1.2;
    font-size: 1em;
}