@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family:'Raleway'; sans-serif;    
}
body {
    margin: 0;
    max-width: 100%;
}
/* Header, logo, Nav */
header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 50px;
    padding right:50px ;
}
.logo {}
nav{
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}
.header_menu{
   
}
/* Main */
main{
    width:  100%;
    height: 100%;
    margin: 50px
}
/* Section de recherche */
section{}
.section_recherche{}
/* SR - Barre de recherche */
.barre_recherche{
    margin-top: 10px;
    margin-bottom: 20px;
}
/* SR - Filres */
article{
    display: flex;
    align-items: left;
    margin-bottom: 20px;
}
.filtres{
}
.filter_button_1{}
.icon_1{}
.filter_button_2{}
.icon_2{}
.filter_button_3{}
.icon_3{}
.filter_button_4{}
.icon_4{}
.plus500{}
/* Section Annonces */
.section_annonces{
    margin-top: 30px;
}
.flexbox_1{
    display: flexbox;
    justify-content: space-between;
    margin-top: 20px;
}
.grid{}
.box_annonce{}
figure{}
/* Section Les Plus Populaires */
.flexbox_2{
    display: flexbox;
    justify-content: space-between;

}
.chart_icon{}
.box_populaires{}
/* Section activités à Marseille */
.flexbox_3{
    display: flexbox;
    justify-content: space-between;
}
.boxactivites_1{}
.boxactivites_2{}
.boxactivites_3{}
.boxactivites_4{}
.boxactivites_5{}
.boxactivites_5{}
/* Pied de Page */
footer{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    

}
.apropos{}
.nos_heberggements{}
.assistance{}