@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Raleway', sans-serif;
}
html {
    max-width: 100%;
    -webkit-overflow-x: hidden;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    padding: 0px 50px;
}

/* General style elements */

h1 {
    font-size: 1.5em;
    letter-spacing: 0.5px;
}
h2 {
    font-size: 1.33em;
}
h3 {
    font-size: 1em;
}
p {
    font-size: 1em;
}
.marker {
    font-size: 1.17em;
}
/* --Star Rating--*/
.blue{
    font-size: 10pt;
    color: #0065FC;
}
.grey {
    font-size: 10pt;
    color: #d9d9d9;
}
figcaption {
    color:#000000;
}
    /* Header, logo, Nav */
   
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        margin-top: 45px;
        margin-bottom: 45px;
        background-color: rgba(255,255,255, 0.9);
        border-radius: 15px;
    
    }
    nav {
        float: right;
        margin-right: 25px;
        overflow: hidden;
        align-items: center;
        right: 0;
        background-color: rgba(255,255,255, 0.9);
        border-radius: 0px 0px 15px 15px;
    }
    nav a {
        float: left;
        text-align: center;
        padding: 56.5px 20px 50px 20px;
        text-decoration: none;
        font-size: 1.2em;
        letter-spacing: 0.5px;
        color: #000000;
    }
    
    /* --Nav Activations-- */
    
    #active {
        border-top: solid #0065fc;
    }
    #active:hover {
        background: #deebff;
        color: #0065fc;
        border-top: solid  #0065fc;
    }
    #non_active {
        border-top: solid rgba(255,255,255, 0.9) ;
    }
    #non_active:hover {
        background: #deebff;
        color: #0065fc;
        border-top: solid  #0065fc;
    }
    #always_active {
        color: #0065fc;
        border-top: solid rgba(255,255,255, 0.9);
    }
    #always_active:hover {
        background: #deebff;
        color: #0065fc;
        border-top: solid  #0065fc;
    }
    
    /* Main */
    
    /* Section de recherche */
    
    .section_recherche {
        margin-top: 0px;
        padding-top: 30px
    }
    .section_recherche h1 {
        line-height: 1.5;
    }
    
    /* --SR - Barre de recherche-- */
    
    .barre_recherche {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .map_marker {
        min-width: 50px;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px 0px 0px 15px;
        background: #f2f2f2;
    }
    .input {
        font-weight: 700;
        font-size: 13pt;
        padding-left: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #f2f2f2;
    }
    .close-btn {
        padding: 10px;
        font-weight: 600;
        font-size: 13pt;
        padding: 10px 15px;
        border-radius: 0px 15px 15px 0px;
        border: none;
        color: #ffffff;
        background: #0065fc;
        cursor: pointer;
    }
    .close-btn:hover {
        color:#000000;
    }
    #searchbutton {
        width: 50px;
        height: 50px;
        background-color: #0065fc;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: initial;
        color: white;
        border-radius: 15px;
        border: none;
        position: relative;
        right: 15px;
        cursor: pointer;
        
    }
    /* --SR - Filres-- */
    article {
        display: flex;
        margin-bottom: 40px;
    }
    article h2 {
        padding-top: 0.8vw;
    }
    .filter_container {
        display: flex;
        padding-left: 20px;
        margin-bottom: 2vw;
    }
    .filter_container a {
        margin-right: 2vw;
    }
    .fas_filter {
        color: #0065fc;
    }
    .filter_button {
        display: flex;
        align-items: center;
        border-top: solid #d9d9d9 2px;
        border-right: solid #d9d9d9 2px;
        border-bottom: solid #d9d9d9 2px;
        border-radius: 2.5vw;
    }
    .filter_button:hover {
        transform: scale(1.05);
        transition: 0.4s;
    }
    .icon_back {
        background-color: #deebff;
        width: fit-content;
        height: fit-content;
        border-radius: 50%;
    }
    .filter_button i {
        top: 0px; left: 0px;
        color: #0065fc;
        width: 3.2vmax;
        height: 3.2vmax;
        border-radius: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filter_button p {
        padding: 0vmax 1.3vmax;
        font-weight: 700;
        color: #000000;
    }
    .filter_button p:hover {
        color: #0065FC;
    }
    /* --Partie info-- */
    .info {
        display: inline-flex;
    }
    .info_icon {
        border-radius: 50%;
        color: #0065fc;
    }
    .info_icon {
        float: left;
        margin-right: 12px;
        font-size: 0.8em;
        border: solid #f2f2f2 2px;
        border-radius: 50%;
        color: #0065fc;
        padding: 0.4em 0.85em;
    }
    .info p {
        line-height: 2;
    }
    
    /* Section Hebergements */
    
    #section_hebergements {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 15px;
    }
    /* Hebergements à Marseille */
    #aside_1 {
        display: block;
        background-color: #f2f2f2;
        border-radius: 15px;
        width: 67%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #aside_1 h2 {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 25px;
    }
    .container_hebergements {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0;
        margin-bottom: 20px;
    }
    .figure_hebergements{
        width: 16.5vw;
        height: 13vw;
        background-color: white;
        border-radius: 15px;
        padding: 0.35em;
        margin: 10px 0 25px 0;
        box-shadow: 4px 2px 20px rgb(201, 201, 201);
    }
    .figure_hebergements:hover {
        transform: scale(1.05);
        transition: 0.4s;
    }
    .image_hebergements {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 7.5vw;
        object-fit: cover;
    }
    .caption_hebergements {
        padding: 0px 0px 2px 10px;
        line-height: 1.3;
    }
    /* --Afficher Plus--*/

    #plusderesultats {
        margin-top: 20px;
        padding-left: 25px;
        color: #000000;
    }
    #plusderesultats:hover {
        color:#0065FC;
    }
    
    /* Les Plus Populaires */
    
    #aside_2 {
        display: block;
        justify-content: space-around;
        align-items: center;
        background-color: #f2f2f2;
        border-radius: 15px;
        width: 31%;
        padding: 40px 30px 20px 30px;
    }
    #container_populaires {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .h2_icon {
        display: flex;
        justify-content: space-between;
        padding:5px
    }
    .chart_icon {
        margin-top: 5px;
    }
    .figure_populaires {
        display: flex;
        padding: 0.35em;
        width: 23vw;
        height: 9.5vw;
        margin-bottom: 20px;
        margin-top: 10px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 4px 2px 20px rgb(201, 201, 201);
        position: relative;
    }
    .figure_populaires:hover {
        transform: scale(1.05);
        transition: 0.4s;
    }
    .image_populaires {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 45%;
        -o-object-fit: cover;
        object-fit: cover;
        float: left;
        padding-right: 5px;
    }
    .caption_populaires {
        padding-bottom: 5px;
    }
    .etoiles_populaires {    
        bottom: 0.7vw;
        position: absolute;
    }
    #etoiles_populaires {
        bottom: 0.7vw;
        position: absolute;
    }
    /* Section activités à Marseille */
    
    #section_activites {
        padding-top: 20px;
        display: block;
    }
    #section_activites h2 {
        margin-bottom: 20px;
    }
    .container_activites {
        display: flex;
        justify-content: space-between;
        height: 35vw;
    }
    .container_activites figure:hover {
        transform: scale(1.05);
        transition: 0.4s;
    }
    .boxactivites_1 {
        display: flex;
        padding: 0;
        width: 20vw;
        height: 30vw;
    }
    .boxactivites_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
        width: 20vw;
        height: 30vw;
    }
    .boxactivites_3 {
        display: flex;
        padding: 0;
        width: 20vw;
        height: 30vw;
    }
    .boxactivites_4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 20vw;
        height: 30vw;
    }
    .container_activites figure {
        background-color: white;
        border-radius: 20px;
        box-shadow: 6px 6px 20px 4px rgb(230, 230, 230);
    }
    .figure_activities_a {
        width: 20vw;
        height: 30vw;
        padding: 0;
        margin: 0;
    }
    .image_activites_a {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 90%;
        padding-bottom: 10px;
        object-fit: cover;
    }
    .figure_activities_b {
        width: 20vw;
        height: 15vw;
        padding: 0;
        margin: 0;
        background-color: #ffffff;
        border-radius: 20px;
    }
    .image_activites_b {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 80%;
        padding-bottom: 10px;
        object-fit: cover;
    }
    .figure_activities_c {
        width: 20vw;
        height: 12vw;
        padding: 0;
        margin: 0;
        background-color: #ffffff;
        border-radius: 20px;
    }
    .image_activites_c {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 75%;
        padding-bottom: 10px;
        object-fit: cover;
    }
    .figure_activities_d {
        width: 20vw;
        height: 13.5vw;
        padding: 0;
        margin: 0;
        background-color: #ffffff;
        border-radius: 20px;
    }
    .image_activites_d {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 78%;
        padding-bottom: 10px;
        object-fit: cover;
    }
    .figcaption_activities{
        padding-left: 20px ;
    }
    /* Pied de Page */
    
    footer {
        display: flex;
        justify-content:space-between;
        padding-top:  30px;
        padding-bottom: 40px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #F2F2F2;
    }
    footer h3 {
        margin-bottom: 15px;
    }
    footer ul {
        padding-left: 0px;
        padding: 3px 30px 10px 0px;
    }
    footer li > a {
        line-height: 1.8;
        color: #000000;
    }
    .assistance {
        padding-left: 30px;
        margin-right: 300px;
    }
    .apropos ul li:hover,
    .nos_hebergements ul li:hover,
    .assistance ul li:hover {
        -webkit-text-stroke: 1px #000000;
    }
/* Media Queries */

/* <--Laptop--> */

/* //Laptop 4K// */

@media screen and (min-width: 1920px) {
    h1 {font-size: 2em}
    h2 {font-size: 1.7em;}
    h3 {font-size: 1.6em;}
    p {font-size: 1.5em;}
    .marker {font-size: 1.2vw;}
    .blue {font-size: 0.85vw ;}
    .grey {font-size: 0.85vw ;}
    .wrapper {padding: 0px 60px;}
    .logo img { width: 150px;}
    nav {margin-right: 0px;}
    nav a {font-size: 1.5em; padding: 56.5px 50px 50px 20px;}
    .barre_recherche {margin-top: 30px;}
    .map_marker {min-width: 70px; min-height: 70px; border-radius: 20px 0px 0px 20px;}
    .input {font-size: 1.4em; font-weight: 800;}
    .close-btn {font-size: 1.4em; font-weight: 700; border-radius: 0px 20px 20px 0px;}
    .filter_container {; padding-left: 40px;}
    .fas_filter {font-size: 1.1vw;}
    .info_icon {font-size: 1.1vw;}
    .info p {line-height: 2.6}
    article {margin-top:30px;}
    article h2 {padding-top: 1.1vw;}
    #aside_1 {border-radius: 20px;}
    .container_hebergements {padding-top: 30px;}
    .figure_hebergements {border-radius: 20px;}
    .image_hebergements {border-top-left-radius: 15px; border-top-right-radius: 15px; height: 8vw;}
    .caption_hebergements {line-height: 1.6;}
    #aside_2 {border-radius: 20px;}
    #container_populaires {padding-top: 30px;}
    .chart_icon {margin-top: 5px; font-size: 1vw;}
    .figure_populaires {border-radius: 20px;}
    .image_populaires { border-top-left-radius: 15px; border-bottom-left-radius: 15px; padding-right: 10px;}
    .caption_populaires {padding-left: 5px; line-height: 1;}
    .figcaption_activities {padding-left: 40px;}
    footer li > a {font-size: 1vw; font-weight:500;}
    .assistance {padding-left: 10px; margin-right: 500px;}
}
/* //Laptop XL//*/
@media screen and (max-width:1919px) and (min-width: 1441px) {
    
    h1 {font-size: 1.6em}
    h2 {font-size: 1.44em;}
    h3 {font-size: 1.2em;}
    p {font-size: 1.1em;}
    .marker {font-size: 1.2vw;}
    .blue {font-size: 0.85vw ;}
    .grey {font-size: 0.85vw ;}
    .wrapper {padding: 0px 60px;}
    .logo img {width: 130px;}
    nav {margin-right: 0px;}
    nav a {font-size: 1.2em; padding: 67px 30px 50px 20px;}
    .barre_recherche {margin-top: 30px;}
    .input {font-size: 1.2em; font-weight: 800;}
    .close-btn {font-size: 1.2em; font-weight: 700;}
    article h2 {padding-top: 13px;}
    .filter_container {padding-left: 40px;}
    .filter_button i { width: 3.5vmax; height: 3.5vmax;}
    .filter_button p {font-weight: 600;}
    .fas_filter {font-size: 1.3vw;}
    .info_icon {font-size: 1.3vw;}
    .info p {line-height: 2.3}
    article {margin-top:30px;}
    #aside_1 {border-radius: 20px;}
    .container_hebergements {padding-top: 30px;}
    .figure_hebergements {border-radius: 20px;}
    .image_hebergements {border-top-left-radius: 15px; border-top-right-radius: 15px; height: 8vw;}
    .caption_hebergements {line-height: 1.2;}
    .caption_hebergements h3 {font-size: 1em;}
    .caption_hebergements p {font-size: 1em;}
    #aside_2 {border-radius: 20px;}
    #container_populaires {padding-top: 30px;}
    .chart_icon {margin-top: 5px; font-size: 1vw;}
    .figure_populaires {border-radius: 20px;}
    .image_populaires { border-top-left-radius: 15px; border-bottom-left-radius: 15px; padding-right: 10px;}
    .caption_populaires {padding-left: 5px; line-height: 1;}
    .caption_populaires h3 {font-size: 1em;}
    .caption_populaires p {font-size: 1em;}
    .figcaption_activities {padding-left: 40px;}
    .figcaption_activities p {font-size: 1em;}
    footer li > a {font-size: 1.2vw; font-weight:500;}
    .assistance {padding-left: 10px; margin-right: 350px;}
}
    /*//Laptop M/L// */

@media screen and (max-width: 1439px) and (min-width: 1224px) {

    /* General style elements */
    
    .marker {font-size: 1.5vw;}
    .blue {font-size: 0.9vw ;}
    .grey {font-size: 0.9vw ;}
    .figure_hebergements {height: 13.2vw;}
    .figure_hebergements p {font-size: 1.1vw;}
}   

/* //Laptop M// */

@media screen and (max-width: 1223px) and (min-width: 1024px) {
    h1 {font-size: 1.9vw;}
    h2 {font-size: 1.8vw;}
    h3 {font-size: 1.3vw;}
    p {font-size: 1.3vw;}
    .marker {font-size: 1.75vw;}
    .blue {font-size: 0.85vw ;}
    .grey {font-size: 0.85vw ;}
    nav {margin-right: 0px;}
    nav a {font-size: 1em;}
    .input {font-size: 1.6vw;}
    .close-btn {font-size: 1.6vw;}
    article h2 {padding-top: 1.7vw;}
    .filter_button {border-radius: 5vw;}
    .filter_button i { width: 4vmax; height: 4vmax;}
    .filter_button p {font-size: 1.5vw ;}
    .info p { line-height: 2.1;}
    .figure_hebergements {height: 13.5vw;}
    .figure_hebergements p {font-size: 1.2vw;}
    .caption_hebergements {line-height: 1.2}
    .image_populaires {padding-right: 5px;}
    .caption_populaires {padding-top: 0.2vw;}
    .caption_populaires p {font-size: 1.2vw;}
    .figcaption_activities {padding-left: 1vw;}
    .apropos h3, .nos_hebergements h3, .assistance h3 {font-size: 1.4vw;}
    footer li > a {font-size: 1.4vw;}
    .assistance {margin-right: 250px;}
}

/* //Laptop S/M// */

@media screen and (max-width: 1023px) and (min-width: 868px) {
    h1 {font-size: 2vmax;}
    h2 {font-size: 1.8vmax;}
    h3 {font-size: 1.3vmax;}
    p {font-size: 1.3vmax;}
    .marker {font-size: 1.75vmax;}
    .blue {font-size: 1.4vw ;}
    .grey {font-size: 1.4vw ;}
    .wrapper {padding: 0px 30px;}
    .logo {margin-bottom: 0px;}
    nav {margin-right: 5px;}
    nav a {font-size: 1.7vw; padding: 60px 15px 50px 15px}
    .section_recherche {padding-top: 0px;}
    .input {font-size: 1.75vw;}
    .close-btn {font-size: 1.75vw;}
    article {margin-bottom: 30px;}
    article h2 {padding-top: 1.3vw;}
    .filter_button i { width: 4.7vmax; height: 4.7vmax;}
    .filter_button p { font-weight: 600; font-size: 1.8vw; padding: 0vmax 1.7vmax;}
    .info p {line-height: 2.3;}
    #section_hebergements {flex-flow: column-reverse; align-items: center}
    #aside_2 {padding: 40px 20px 30px 20px; width: 100%;}
    .chart_icon {margin-top: 0px; font-size: 1.65vw;}
    #container_populaires {display: flex; flex-direction: row; justify-content: space-around}
    .figure_populaires { display: block; width: 26vw; height: 19vw;}
    .image_populaires {border-radius: 10px 10px 0px 0px;width: 100%;height: 12vw;}
    .image_populaires {padding-right: 0px; margin-bottom: 2px;}
    .caption_populaires {padding-top: 0.2vw;}
    .caption_populaires h3 {font-size:1.44vw;}
    .caption_populaires p {font-size: 1.4vw;}
    .etoiles_populaires {bottom: initial;}
    #etoiles_populaires {bottom: initial;}
    #aside_1 {margin: 20px 0px; width: 100%}
    .figure_hebergements {width: 26vw; height: 19vw;}
    .figure_hebergements h3 {font-size: 1.44vw;}
    .figure_hebergements p {font-size: 1.4vw;}
    .image_hebergements {height: 12vw;}
    .caption_hebergements h3 {line-height:1.1vw;}
    .figcaption_activities {padding-left: 10px;}
    .apropos h3, .nos_hebergements h3, .assistance h3 {font-size: 1.5vw;}
    footer li > a {font-size: 1.35vw;}
    .assistance {margin-right: 160px;}
}

/* //laptop S// */

@media screen and (max-width: 867px) and (min-width: 768px) {
    h1 {font-size: 1.2em;}
    h2 {font-size: 1em;}
    h3 {font-size: 0.9em;}
    p {font-size: 0.85em;}
    .marker {font-size: 1.75vmax;}
    .blue {font-size: 1.2vw ;}
    .grey {font-size: 1.2vw ;}
    .wrapper {padding: 0px 20px;}
    .logo {margin-bottom: 0px;}
    nav {margin-right: 5px;}
    nav a {font-size: 1.7vw; padding: 63px 15px 50px 15px;}
    .section_recherche {padding-top: 0px;}
    article {margin-bottom: 10px;}
    .input {font-size: 1.75vw;}
    .close-btn {font-size: 1.75vw;}
    article h2 {padding-top: 1em;}
    .filter_container {padding-left: 15px;}
    .filter_container a {margin-right: 1.5vw;}
    .filter_button {border-radius: 5vw;}
    .filter_button i { width: 5vmax; height: 5vmax;}
    .fas_filter {font-size: 2vw;}
    .filter_button p {font-weight: 600; font-size: 1.8vw; padding: 0vmax 1.2vmax;}
    #section_hebergements {flex-flow: column-reverse; align-items: center}
    #aside_2 {padding: 40px 10px 30px 10px; width: 100%;}
    .chart_icon {margin-top: 0px; font-size: 1.65vw;}
    #container_populaires {display: flex; flex-direction: row; justify-content: space-around}
    .figure_populaires { display: block; width: 29vw; height: 19vw;}
    .figure_populaires h3 {font-size:0.7em;}
    .image_populaires {border-radius: 10px 10px 0px 0px;width: 100%;height: 12vw;}
    .image_populaires {padding-right: 0px; margin-bottom: 2px;}
    .caption_populaires {padding: 0px 0px 2px 10px;}
    .caption_populaires p {font-size: 0.7em;}
    #aside_1 {margin: 20px 0px; width: 100%; padding: 40px 15px}
    .container_hebergements {margin-bottom: 0px; justify-content: space-between; }
    .figure_hebergements {width: 29vw; height: 19vw;}
    .figure_hebergements p {font-size: 0.7em; line-height: 0.8;}
    .image_hebergements {height: 12vw;}
    .caption_hebergements {line-height: 1.2;}
    .caption_hebergements h3 {font-size: 0.7em;}
    .container_activites p {font-size:1.3vw; line-height: 0.8;}
    .figcaption_activities {padding-left: 10px;}
    .apropos h3, .nos_hebergements h3, .assistance h3 {font-size: 1.5vw;}
    footer li > a {font-size: 1.5vw;}
    .assistance {padding-left: 20px; margin-right: 140px;}
}

/* <--Tablet:--> */

/* //Tablet L// */

@media screen and (max-width: 767px) and (min-width: 600px) {
    h1 {font-size: 0.85em;}
    h2 {font-size: 0.78em;}
    h3 {font-size: 0.65em;}
    p {font-size: 0.7em;}
    .marker {font-size: 3vmax;}
    .blue {font-size: 1.3vw ;}
    .grey {font-size: 1.3vw ;}
    .wrapper {padding: 0px 20px;}
    .logo {margin-bottom: 0px;}
    nav {margin-right: 5px;}
    nav a {font-size: 0.75em; padding: 64px 15px 50px 15px}
    .section_recherche {padding-top: 0px;}
    article {margin-bottom: 10px;}
    .input {font-size: 2.4vw;}
    .close-btn {font-size: 2.4vw;}
    article h2 {padding-top: 2vw;}
    .barre_recherche {margin-left: 56px;}
    .input {font-size: 2.3vw;}
    .close-btn {font-size: 2.3vw;}
    .filter_container {flex-flow: wrap;}
    .filter_container a {margin-bottom: 2vw;}
    .filter_button {border-radius: 10vw;}
    .filter_button i { width: 6vmax; height: 6vmax;}
    .filter_button p {font-weight: 600; font-size: 2.2vw; padding: 1vmax 2vmax 0.9vmax 2vmax;}
    .info p {line-height: 2.6;}
    #section_hebergements {flex-direction: column-reverse;}
    #aside_2 {padding: 20px 10px; width: 100%;}
    #aside_2 h2 {padding-left: 20px;}
    .chart_icon {margin-top: 5px; font-size: 2vw;}
    #container_populaires {flex-flow: wrap; justify-content: space-around;}
    .figure_populaires {display: block; width: 37vw; height: 20.5vw; padding: 0.25em;}
    #el_blanc {margin-left: 14px; width: 95%;}
    .image_populaires {object-position: 50% 60%; border-radius: 10px 10px 0px 0px; width: 100%;height: 12vw;}
    .image_populaires {padding-right: 0px; margin-bottom: 2px;}
    .caption_populaires {padding-left:10px}
    .caption_populaires h3 {font-size:1.8vw;}
    .caption_populaires p {font-size: 1.8vw; font-weight:500}
    .etoiles_populaires {bottom:initial}
    #etoiles_populaires {bottom:initial}
    #aside_1 {width: 100%; padding: 20px 10px; margin-top: 20px;}
    .container_hebergements { margin-bottom: 0px;}
    .figure_hebergements {width: 37vw; height: 20.5vw; padding: 0.25em;}
    .caption_hebergements {line-height: 1;}
    .caption_hebergements h3 {font-size:1.8vw;}
    .caption_hebergements p {font-size: 1.8vw; font-weight:500}
    .image_hebergements {height: 12vw;}
    .figcaption_activities {padding-left: 15px;}
    .figcaption_activities p {font-size: 1.3vw;}
    .image_activites_a {height:80%; padding-bottom:0px;}
    .image_activites_b, .image_activites_c, .image_activites_d {height:70%; padding-bottom:0px}
    .apropos h3, .nos_hebergements h3, .assistance h3 {font-size: 2vw;}
    footer li > a {font-size: 1.5vw;}
    .assistance {padding-left: 20px; margin-right: 20px;}
}

/* //Tablet M// */

@media screen and (max-width: 599px) and (min-width: 425px) {
    h1 {font-size: 0.85em;}
    h2 {font-size: 0.78em;}
    h3 {font-size: 0.65em;}
    p {font-size: 0.7em;}
    .marker {font-size: 3.5vmax;}
    .blue {font-size: 1.9vw ;}
    .grey {font-size: 1.9vw ;}
    .wrapper {padding: 0px 15px;}
    .logo {margin-bottom: 0px;}
    nav {margin-right: 0px;}
    nav a {font-size: 0.7em; padding: 64px 15px 50px 15px}
    .section_recherche {padding-top: 0px;}
    article {margin-bottom: 10px;}
    .map_marker {min-width: 40px; min-height: 40px;}
    .barre_recherche {height: 40px;}
    .input {font-size: 3vw;}
    .close-btn {font-size: 3vw;}
    article h2 {padding-top: 3vw;}
    .barre_recherche {margin-left: 57px;}
    .filter_container {flex-flow: wrap;}
    .filter_container a {margin-bottom: 2vw;}
    .filter_button {border-radius: 10vw; border-top: solid #d9d9d9 1px; border-right: solid #d9d9d9 1px; border-bottom: solid #d9d9d9 1px;}
    .filter_button i { width: 7.5vmax; height: 7.5vmax;}
    .filter_button p {font-weight: 600; font-size: 2.35vmax; padding: 1vmax 2vmax 0.9vmax 2vmax;}
    .fas_filter {font-size: 2.7vw;}
    .info_icon {font-size: 2vw; border: solid #f2f2f2 1px;}
    .info p {line-height: 1.8}
    #section_hebergements {flex-direction: column-reverse;}
    #aside_2 {padding: 20px 10px; width:100%;}
    .chart_icon {margin-top: 3px; font-size: 2vw;}
    #container_populaires {flex-flow: wrap; justify-content: space-around;}
    .figure_populaires {display: block; width: 37vw; height: 24vw; padding: 0.25em;}
    #el_blanc {margin-left: 14px; width: 92%; height: 24vw;}
    .image_populaires {object-position: 50% 60%; border-radius: 10px 10px 0px 0px; width: 100%;height: 14vw;}
    .image_populaires {padding-right: 0px; margin-bottom: 3px;}
    .caption_populaires {padding-left: 5px; line-height: 1;}
    .caption_populaires h3 {font-size: 1.9vw;}
    .caption_populaires p {font-size: 2vw; font-weight:500}
    .etoiles_populaires {bottom:initial}
    #etoiles_populaires {bottom:initial}
    #aside_1 {width: 100%; padding: 20px 10px; margin-top: 20px;}
    #aside_1 h2 {padding-left: 0px;}
    .container_hebergements {margin-bottom: 0px;}
    .figure_hebergements {width: 37vw; height: 24vw; padding: 0.25em;}
    .caption_hebergements {line-height: 1; padding: 0px 0px 2px 5px;}
    .caption_hebergements h3 {font-size: 1.9vw;}
    .caption_hebergements p {font-size: 2vw; font-weight:500}
    .image_hebergements {height: 14vw;}
    .figcaption_activities {padding-left: 15px;}
    .figcaption_activities p {font-size: 1.45vw;}
    .image_activites_a {height:80%; padding-bottom:0px;}
    .image_activites_b, .image_activites_c, .image_activites_d {height:70%; padding-bottom:0px}
    .apropos h3, .nos_hebergements h3, .assistance h3 {font-size: 2.5vw;}
    footer {padding: 30px}
    footer li > a {font-size: 2vw; font-weight:500;}
    footer ul {padding-left: 0px;padding: 3px 10px 10px 0px;}
    .assistance {padding-left: 10px; margin-right: 0px;}
}   

/* <--Mobile--> */

/* //Mobile L (Iphone X)//*/

@media screen and (max-width: 424px) and (min-width: 375px) {
    .wrapper{display: flex; flex-direction: column; padding:0px}
    h1 {font-size: 5.5vw; letter-spacing: 0.5px;}
    h2 {font-size: 4.5vw;}
    h3 {font-size: 4vw;}
    p {font-size: 4.3vw; line-height: 2.2;}
    .fas {font-weight: 500 ;}
    .blue{font-size: 3vw; color: #0065FC;}
    .grey {font-size: 3vw; color: #d9d9d9;}
    .fas_filter {font-size: 14pt;}
    .marker {font-size: 14pt;}
    .loupe {font-size: 12pt;}
    header {display: flex; flex-wrap:wrap; }
    .logo {left: 15px; top: 15px; position: absolute; padding: 0px; margin-top: 0px; margin-bottom: 0px;}
    nav {display: flex; flex-wrap: wrap-reverse; justify-content: flex-end; margin-top: 15px; margin-right: 0px; border-radius: 0; background-color:rgba(255,255,255, 0);}
    nav a {padding: 15px 25px; font-size: 1.1em;}
    #active {flex-grow: 2;border-top: solid #ffffff; border-bottom: solid #0065fc; background-color:#ffffff;}
    #active:hover {background: #deebff; color: #0065fc; border-top: solid  #ffffff; border-bottom: solid #0065fc;}
    #non_active {flex-grow: 10; border-top: solid #ffffff; border-bottom: solid #ffffff;}
    #non_active:hover{background: #deebff; color: #0065fc; border-top: solid  #ffffff; border-bottom: solid  #0065fc;}
    #always_active {border-top: solid #ffffff; border-bottom: solid #ffffff; background-color: #ffffff;}
    #always_active:hover{background: #deebff; color: #0065fc; border-top: solid  #ffffff; border-bottom: solid  #0065fc;}
    main {padding: 0px; flex-direction: column; width: 100%; margin: 0;}
    .section_recherche {margin-top: 0px; padding: 30px 20px 0px 20px}
    .input {width: 250px;}
    .close-btn {display:none;}
    article {display: flex; flex-direction: column;}
    .filter_container {display: flex;flex-wrap: wrap; padding: 0; margin-top: 10px;} 
    .filter_button { margin-right: 0vw; border-width: 2px; border-radius: 15vw; margin: 5px}
    .icon_back {background-color: #deebff; width: 12.5vw; height: 12.5vw; border-radius: 50%;}
    .icon_back i { width: 12.5vw; height: 12.5vw; display: flex; justify-content: center; align-items: center; }
    .filter_button p {padding: 1.5vw 4vw 1.5vw 4vw;}
    .info_icon {height: 30px; margin-right: 4px;}
    .info p {; font-size: 1em;}
    #section_hebergements { display: flex; flex-direction: column-reverse;}
    #aside_2 { width: 100%; border-radius: 0px; padding: 10px}
    #aside_2 h2 {font-size: 15pt;}
    #container_populaires { display: flex; align-items: center; flex-wrap: wrap; padding: 5px;}
    #container_populaires a {flex-basis : 80%;}
    .figure_populaires {flex-basis : 80%; width: 345px; height: 160px;}
    .image_populaires {width: 155px; height:auto;}
    .caption_populaires {padding:5px}
    .etoiles_populaires {padding-top: 45px; bottom: initial;}
    #etoiles_populaires {padding-top: 45px; bottom: initial;}
    #aside_1 { background-color: #ffffff; border-radius: 0px; width: 100%; padding-top: 30px; padding-bottom: 20px;}
    #aside_1 h2 {font-size: 15pt;padding-left: 5px; padding-bottom: 15px;}.container_hebergements {display: flex;flex-direction: column; align-items: center;}
    .figure_hebergements {width: 345px; height: 200px;}
    .caption_hebergements {padding: 5px; line-height: 0.8;}
    .image_hebergements {height:110px}
    #plusderesultats {padding-left: 5px;}
    #section_activites {display: flex; flex-direction: column;height: auto;padding-top: 0px;}
    #section_activites h2 {font-size: 15pt; margin-bottom: 20px;padding-left: 15px;}
    .container_activites {flex-direction: column; align-items: center;height: 100%;margin: 0;margin-bottom: 25px;}
    .boxactivites_1 {width: 355px; height: 200px; margin-bottom: 19px;}
    .figure_activities_a {width: 355px; height: 200px; margin-bottom: 20px;}
    .image_activites_a {width: 355px; height: 150px;}
    .boxactivites_2 {width: 355px; height: 420px;}
    .figure_activities_b {width: 355px; height: 190px; margin-bottom: 20px;}
    .image_activites_b {width: 355px; height: 140px;}
    .boxactivites_3 {width: 355px;height: 200px; margin-bottom: 19px;}
    .figure_activities_c { width: 355px; height: 190px; margin-bottom: 20px;}
    .image_activites_c {width: 355px; height: 140px;}
    .boxactivites_4 {width: 355px; height: 420px;}
    .image_activites_d {width: 355px; height: 140px;}
    .figure_activities_d {width: 355px; height: 190px; margin-bottom: 20px;}
    footer {display: flex; flex-direction: column; padding-bottom: 10px; padding-left: 30px;}
    .assistance {padding-left: 0px; margin-right: 0px;}
}

/* --Search button-- */

@media only screen and (min-width:425px) {
    #searchbutton {background-color: transparent; color: transparent;}
}