@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Raleway', sans-serif;
}
html {
    max-width: 100%;
    -webkit-overflow-x: hidden;
    overflow-x: hidden;
}
body {

}
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    
    width:  100%;
    height: 100%;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}
h1 {
    font-size: 16pt;
    letter-spacing: 1;
}
p {
    line-height: 1.8;
}

/* Header, logo, Nav */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.logo {
    padding-top: 50px;
    
}
.topnav {
   overflow: hidden;
   align-items: center;
}
.topnav a {
    float: left;
    text-align: center;
    padding: 50px 20px;
    text-decoration: none;
    font-size: 11pt;
}

}
.header_menu {
   
}
/* Main */
main {
   

}
/* Section de recherche */
.section_recherche {
    padding-top: 30px;

}
/* SR - Barre de recherche */
.barre_recherche {
    margin-top: 10px;
    margin-bottom: 20px;
}
/* SR - Filres */
article {
    display: flex;
    align-items: left;
    margin-bottom: 20px;
}
.filtres {
}
.filter_button_1 {}
.icon_1 {}
.filter_button_2 {}
.icon_2 {}
.filter_button_3 {}
.icon_3 {}
.filter_button_4 {}
.icon_4 {}
.plus500 {}
/* Section Annonces */
.section_annonces {
    padding top: 20px;
    background-color: #f2f2f2;
    border-radius: 25px;
    margin-top: 30px;
    width: 67%;
}
.container_annonces {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: auto;
}
.box_annonce {
    width: 16.5vw;
    height: 13vw;
    background-color: white;
    border-radius: 25px;
    padding: 0.35em;
    margin: 10px 0 25px 0;
    box-shadow: 4px 2px 20px rgb(201, 201, 201);
}
.box_annonce:hover {
    transform: scale(1.05);
    transition: 0.4s;
}
figure{
}
.image_hebergements {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 59%;
    object-fit: cover;
}
/* Section Les Plus Populaires */
.aside_populaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 31%;
    margin-top: 2.5vw;
    padding-bottom: 20px;
    position: relative;

}
.chart_icon {

}
.box_populaires {
    display: flex;
    justify-content: column;
    padding: 0.35em;
    width: 23vw;
    height: 9.5vw;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 2px 20px rgb(201, 201, 201);
}
.image_populaires {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 40%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    float: left;
    padding-right: 10px;
    margin-right: 0.8vw;
    
}
/* Section activités à Marseille */
.flexbox_3{
    display: flexbox;
    justify-content: space-between;
}
.boxactivites_1 {}
.boxactivites_2 {}
.boxactivites_3 {}
.boxactivites_4 {}
.boxactivites_5 {}
.boxactivites_5 {}
/* Pied de Page */
footer {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    

}
.apropos {}
.nos_heberggements {}
.assistance {}
